<!--
<ion-content fullscreen="true">
  <ion-grid>
    <img src="../../../assets/LOGO.png" />
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border animated bounceInUp">
  <ion-row>
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button color="danger" (click)="signUp()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-list lines="full">
      <ion-list-header class="ion-margin">
        <ion-label>Mobile Number Verification Code</ion-label>
      </ion-list-header>
      <ion-item class="ion-margin" lines="none">
        <ion-label>
          Enter Verification Code
          <ion-row class="ion-padding-top ion-text-center">
            <ion-col>
              <ion-input class="marginLeft" required maxlength="1" type="tel" inputmode="numeric"></ion-input>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-footer> -->
