<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updatedocform" (ngSubmit)='updateform()'>
      <ion-item>
        <ion-label postion="floating">
  Name
        </ion-label>
        <ion-input formArrayName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
      >

      <ion-item>
        <ion-label postion="floating">
  email
        </ion-label>
        <ion-input formArrayName="email" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label postion="floating">
  mobile
        </ion-label>
        <ion-input formArrayName="mobile" type="text" required></ion-input>
      </ion-item>

      <ion-label postion="floating">
  details
        </ion-label>
        <ion-textarea formArrayName="details" type="text" required></ion-textarea>
      </ion-item>
      <ion-row>
        <ion-col> <ion-button type="submit"color="primary" shape="full" expand="block">Update Doctorant</ion-button></ion-col>
      </ion-row>
      </form>
  </ion-list>
  </ion-content> -->




  <!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>mizo</ion-title>
    </ion-toolbar>
  </ion-header> -->
<!-- [formGroup]="updatedocfor" hda submit asidy redha rah hayedha 3la wed prble -->
  <!-- <ion-content>
    <ion-list lines="full">
      <form (ngSubmit)="updateform()">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mobile</ion-label>
          <ion-input formControlName="mobile" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Details</ion-label>
          <ion-textarea formControlName="details" required></ion-textarea>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" shape="full" expand="block">Update Doctorant</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  </ion-content> -->

