<ion-header class="tf-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu" text="" (click)="closemodal()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="apps-outline"></ion-icon>
      Toutes les formations
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Rechercher une formation..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="tf-content">
  <div class="ion-text-center ion-padding" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>

  <div class="tf-card" *ngFor="let f of filteredFormations">
    <div class="tf-icon"><img src="/assets/formation_default.webp" alt=""></div>
    <div class="tf-text">
      <h4>{{ f.intitule }}</h4>
      <p *ngIf="f.description">{{ f.description }}</p>
      <div class="tf-meta">
        <span *ngIf="f.date_debut"><ion-icon name="calendar-outline"></ion-icon> {{ f.date_debut | date:'dd/MM/yyyy' }}</span>
        <span *ngIf="f.formateur_nom_fr"><ion-icon name="person-outline"></ion-icon> {{ f.formateur_nom_fr }}</span>
      </div>
    </div>
  </div>

  <p class="tf-empty" *ngIf="!loading && !filteredFormations.length">Aucune formation trouvée.</p>
</ion-content>
