<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Doct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item *ngFor = "let p of  doctorants">
      <ion-label>
      <h5>
        <ion-icon name="person">
        </ion-icon>  {{p }}
      </h5>
      <p>
        <ion-icon name="call">
        </ion-icon>{{p}}
      </p>
    </ion-label> -->
<!-- [routerlink]="{'',p}"  hda color -->
      <!-- <div class="item-note" item-end>
        <ion-button color="primary"
        routerlink="['/edit' +p]"
        >
          <ion-icon name="create"></ion-icon>
          {{p}}
        </ion-button>
        <ion-button color="danger" (click)="deletedoc(p)">
          <ion-icon name="trash"></ion-icon>
          {{p}}
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content> -->
